$primary-color : #707070;
$secondary-color : #27BAFE;

@use 'media-queries.scss' as *;

@font-face {
    font-family: NeoSans_medium_italic;
    src: url(../fonts/NeoSans_Medium_Italic.otf);
}

@font-face {
    font-family: NeoSans_medium_regular;
    src: url(../fonts/Neo_Sans_Std_Regular.otf);
}

@font-face {
    font-family: NeoSans_medium_bold;
    src: url(../fonts/Neo_Sans_Std_Bold.otf);
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;

    .row{
        --bs-gutter-x: 0rem;
    }

    p{
        margin: 0;
    }
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(25, 54, 82, 0.2);

    @include xs{
        flex-direction: column;
        align-items: flex-start;
    }

    @include xxs{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .logo{
        padding-left: 100px;

        @include sm {
            padding-left: 60px;
        }
        @include xs{
            padding-left: 10px;
        }
        @include xxs{
            padding-left: 10px;
        }

        a{
            embed{
                height: 65px;
                width: 65px;
                @include sm {
                    height: 45px;
                    width: 45px;
                }
                @include xs {
                    height: 40px;
                    width: 40px;
                }
                @include xxs {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .xs-active{
        display: flex;
    }

    #navbar{
        @include xs{
            display: none;
            width: 100%;
            padding-right: 0;
            z-index: 100;
        }
        @include xxs{
            display: none;
            width: 100%;
            padding-right: 0;
            z-index: 100;
        }
    }

    nav{
        padding-right: 100px;
        
        @include sm {
            padding-right: 50px;
        }
        
        ul{
            margin:0;
            padding:0;
            align-items: center;
            list-style: none;
            @include xs{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
            }
            @include xxs{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
            }
            li{
                display: inline-block;
                @include xs{
                    width: 100%;
                    text-align: center;
                }
                @include xxs{
                    width: 100%;
                    text-align: center;
                }
                a{
                    align-items: center;
                    display: inline-block;
                    padding: 15px 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.25em;
                    @include md {
                        font-size:  1em;
                    }
                    @include sm {
                        font-size:  0.75em;
                    }
                    @include xs{
                        padding: .5rem 1rem;
                    }
                    @include xxs{
                        padding: .5rem 1rem;
                    }
                    text-decoration: none;
                    color: $primary-color;
                }
                :hover{
                    font-style: italic;
                    color: $secondary-color;
                }
                &.active{
                    a{
                        font-weight: bold;
                    }
                }
                
            }
        }
    }

    /*--====== Sidebar ======--*/
    #sidebar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        max-width: 300px;
        width: 80%;
        height: 100%;
        padding: 1rem;
        background-color: #f6f8fa;
        box-shadow: 0 10px 20px -4px #000;
        overflow-x: hidden;
        overflow-y: auto;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
    }

    /* when the sidebar has 'show' class */
    #sidebar.show {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .sidebar_content {
        padding: 2.8rem 0;
        pointer-events: none;
        /* so that the Sidebar does not get closed while clicking on sidebar_content */
    }

    .sidebar_content a {
        pointer-events: all;
        /* so that all the <a> inside sidebar_content are clickable */
    }


    .side_navlinks ul {
        display: grid;
        gap: 0.5rem;
        padding-top: 0.75rem;
    }

    .side_navlinks li a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25em;
    }

    .side_navlinks a:hover {
        opacity: 1;
    }

    /*---- Sidebar-Toggler ----*/
    .sidebar_toggler {
        display: none;
        position: fixed;
        top: 1.75vh;
        right: 3vw;
        z-index: 9999;
        width: 1.75rem;
        height: 1.3rem;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;

        @include xs{
            display: flex;
        }
        @include xxs{
            display: flex;
        }
    }

    .sidebar_toggler span {
        background-color: #28292f;
        width: 100%;
        height: 2.4px;
        transition: all 0.3s ease;
        pointer-events: none;
        /* so that it doesn't overlap the sidebar_toggler */
    }

    /* if the sidebar has 'show' class then their adjacent-sibling (i.e., sidebar_toggler) will... */
    #sidebar.show + .sidebar_toggler {
        justify-content: center;
    }

    #sidebar.show + .sidebar_toggler span {
        margin-top: -1.2px;
        margin-bottom: -1.2px;
    }

    #sidebar.show + .sidebar_toggler span:first-child {
        transform: rotate(45deg);
    }

    #sidebar.show + .sidebar_toggler span:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
    }

    #sidebar.show + .sidebar_toggler span:last-child {
        transform: rotate(-45deg);
    }
}

main{
    margin: 10px;
    .events-section{

        .events-title{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 40px;
            font-family: NeoSans_medium_italic;
            color: #193652;
            @include md {
                font-size: 35px;
            }
            @include sm {
                font-size:  28px;
            }
            @include xs {
                font-size:  24px;
            }
            @include xxs {
                font-size:  20px;
            }
        }
        .title{
            margin: 20px 0;
            font-size: 28px;
            font-family: NeoSans_medium_bold;
            color: #193652;
            @include md {
                font-size: 26px;
            }
            @include sm {
                font-size:  24px;
            }
            @include xs {
                font-size:  20px;
            }
            @include xxs {
                font-size:  18px;
            }
        }
        .no-event{
            display: none;
            margin: 20px 0;
            font-size: 20px;
            font-family: 'Roboto';
            color: #193652;
            @include md {
                font-size: 19px;
            }
            @include sm {
                font-size:  18px;
            }
            @include xs {
                font-size:  17px;
            }
            @include xxs {
                font-size:  16px;
            }
        }
        .events{
            display: flex;
            margin: 10px;

            .event{
                padding: 0 15px;
                @include md {
                    padding: 0 8px;
                }
                @include sm {
                    padding: 0 5px;
                }
                @include xs {
                    margin: 10px 0;
                    padding: 0;
                }
                @include xxs {
                    margin: 8px 0;
                    padding: 0;
                }

                .event-time{
                    background-color: #27BAFE;
                    height: 100px;
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include md {
                        height: 75px;
                    }
                    @include sm {
                        height: 60px;
                    }
                    @include xs {
                        height: 55px;
                    }
                    @include xxs {
                        height: 50px;
                    }

                    .time{
                        text-transform: uppercase;
                        color: #f6f8fa;
                        font-family: 'Roboto';
                        font-weight: bold;
                        font-size: 18px;
                        line-break: strict;
                        text-align: center;

                        margin: 0;

                        @include md {
                            font-size: 14px;
                        }
                        @include sm {
                            font-size:  12px;
                        }
                        @include xs {
                            font-size:  12px;
                        }
                        @include xxs {
                            font-size:  11px;
                        }
                    }
                }
                .event-details{
                    padding: 0;
                    height: 350px;
                    width: 75%;

                    @include md {
                        height: 260px;
                    }
                    @include sm {
                        height: 200px;
                    }
                    @include xs {
                        height: 220px;
                    }
                    @include xxs {
                        height: 200px;
                    }
                    
                    a{
                        text-decoration: none;
                    }
                    img{
                        height: 280px;
                        width: 100%;
                        object-fit: cover;
                        transition: transform .5s ease;

                        @include md {
                            height: 200px;
                        }
                        @include sm {
                            height: 150px;
                        }
                        @include xs {
                            height: 170px;
                        }
                        @include xxs {
                            height: 150px;
                        }
                    }
                    :hover{
                        transform: scale(1.01);
                    }

                    .caption{
                        padding: 5px 0;
                        font-family: 'Roboto';
                        font-size: large;
                        color: #000;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                                line-clamp: 2; 
                        -webkit-box-orient: vertical;

                        @include md {
                            font-size: medium;
                        }
                        @include sm {
                            font-size: small;
                        }
                        @include xs {
                            font-size: smaller;
                        }
                        @include xxs {
                            font-size: small;
                        }
                    }

                    :hover{
                        transition: transform .3s ease-in-out;
                        font-weight: bold;
                    }
                }
            }
            
        }
    }
}

footer{
    background-image: linear-gradient(#21517A, #11293D);
    min-height: 300px;
    padding-top: 40px;

    @include md {
        min-height: 250px;
        padding-top: 30px;
    }

    @include sm{
        min-height: 200px;
        padding-top: 20px;
    }
    @include xs {
        min-height: 150px;
        padding-top: 15px;
    }
    @include xxs {
        min-height: 150px;
        padding-top: 15px;
    }
    
    .footer-main{
        p{
            display: flex;
            justify-content: center;
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 40px;
            font-family: NeoSans_medium_italic;
            color: white;
            text-align: center;
            @include md {
                font-size: 35px;
            }
            @include sm {
                font-size:  28px;
            }
            @include xs {
                padding-top: 5px;
                font-size:  24px;
            }
            @include xxs {
                padding-top: 5px;
                font-size:  20px;
            }
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 0;

            a{
                height: 74px;
                width: 74px;
                padding: 0 10px;

                @include md {
                    height: 56px;
                    width: 56px;
                }

                @include sm {
                    height: 46px;
                    width: 46px;
                }
                @include xs {
                    height: 36px;
                    width: 36px;
                    padding: 0 5px;
                }

                @include xxs {
                    height: 36px;
                    width: 36px;
                    padding: 0 5px;
                }

                img{
                    height: 56px;
                    width: 56px;
                    @include md {
                        height: 46px;
                        width: 46px;
                    }

                    @include sm {
                        height: 38px;
                        width: 38px;
                    }

                    @include xs {
                        height: 28px;
                        width: 28px;
                    }

                    @include xxs {
                        height: 28px;
                        width: 28px;
                    }
                }
            }
        }
    }

    .footer-bottom{
        color: white;
        margin-top: 50px;
        line-height: 50%;
        @include md {
            font-size: 0.75em;
        }
        @include sm{
            font-size: 0.6em;
        }
        @include xs {
            line-height: 10%;
            font-size: 0.5em;
        }

        @include xxs {
            line-height: 10%;
            font-size: 0.5em;
        }
        .credit{
            margin-top: 1.5em;
            font-size: 0.9em;            

            a{
                text-decoration: none;
                color: white;
            }
        }
        
    }
}
